extends net_interface
block detail_data
    p Main temperature (avg):
        span(id='main') #{data.main}
    p Max temperature:
        span(id='max') #{data.max}
    if data.cores
        p(class='necessary_text' style='margin: 5% 0') CPU's cores temperature:
        each val,index in data.cores
            p Core #{index + 1}:
                span(class='cores') #{val}

block article_img
    img(src='../img/articles/cpu/temperature.svg' alt='temperature')

block script
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io('/cpu_temperature');
        socket.on('reload', stats => {
            const statsArr = Object.entries(stats);
            for (let index = 0, length = statsArr.length; index < length; index++) {
                if (statsArr[index][1] instanceof Array) {
                    const elem = document.getElementsByClassName(statsArr[index][0]);
                    for (let j = 0, classLength = elem.length; j < classLength; j++) {
                        elem[j] = statsArr[index][1][j];
                    }
                } else {
                    const elem = document.getElementById(statsArr[index][0]);
                    if (elem) elem.textContent = statsArr[index][1];
                }
            }
        });